/* ======= STRAIGHT VIEWS ======= */
body{
    perspective: 250px;
    perspective-origin: 50%;
}
.bike{top: 150%;left: 65% !important;
    transform: scale(0.35) translateY(10%) skewX(10deg) !important;}
@keyframes movein {
    100%{transform: scale(0.35);top: 35%;left:65%}
}
/*===== LEFT TREES STRAIGHT VIEW =====*/ 
.treeleft .t0a{left: 34%;transform: rotate(315deg) scale(0.025);}
.treeleft .t0{left: 34%;transform: rotate(315deg) scale(0.025);animation: movetreeL0 var(--treespeed) linear infinite forwards;}
.treeleft .t1{left: 32%;transform: rotate(315deg) scale(0.05);animation: movetreeL1 var(--treespeed) linear infinite forwards;}
.treeleft .t2{left: 30%;transform: rotate(315deg) scale(0.075);animation: movetreeL2 var(--treespeed) linear infinite forwards;}
.treeleft .t3{left: 28%;transform: rotate(315deg) scale(0.1);animation: movetreeL3 var(--treespeed) linear infinite forwards;}
.treeleft .t4{left: 26%;transform: rotate(315deg) scale(0.125);animation: movetreeL4 var(--treespeed) linear infinite forwards;}
.treeleft .t5{left: 24%;transform: rotate(315deg) scale(0.15);animation: movetreeL5 var(--treespeed) linear infinite forwards;}
.treeleft .t6{left: 20%;transform: rotate(315deg) scale(0.2);animation: movetreeL6 var(--treespeed) linear infinite forwards;}
.treeleft .t7{left: 16%;transform: rotate(315deg) scale(0.25);animation: movetreeL7 var(--treespeed) linear infinite forwards;}
.treeleft .t8{left: 12%;transform: rotate(315deg) scale(0.3);animation: movetreeL8 var(--treespeed) linear infinite forwards;}     
.treeleft .t9{left: 6%;transform: rotate(315deg) scale(0.4);animation: movetreeL9 var(--treespeed) linear infinite forwards;}
.treeleft .t10{left: 0%;transform: rotate(315deg) scale(0.5);animation: movetreeL10 var(--treespeed) linear infinite forwards;}
.treeleft .t11{left: -6%;transform: rotate(315deg) scale(0.6);animation: movetreeL11 var(--treespeed) linear infinite forwards;}
.treeleft .t12{left: -12%;transform: rotate(315deg) scale(0.8);animation: movetreeL12 var(--treespeed) linear infinite forwards;}
.treeleft .t13{left: -18%;transform: rotate(315deg) scale(1);animation: movetreeL13 var(--treespeed) linear infinite forwards;}

@keyframes movetreeL0 {to{left: 32%;transform: rotate(315deg) scale(0.05);}}
@keyframes movetreeL1 {to{left: 30%;transform: rotate(315deg) scale(0.075);}}
@keyframes movetreeL2 {to{left: 28%;transform: rotate(315deg) scale(0.1);}}
@keyframes movetreeL3 {to{left: 26%;transform: rotate(315deg) scale(0.125);}}
@keyframes movetreeL4 {to{left: 24%;transform: rotate(315deg) scale(0.15);}}
@keyframes movetreeL5 {to{left: 20%;transform: rotate(315deg) scale(0.2);}}
@keyframes movetreeL6 {to{left: 16%;transform: rotate(315deg) scale(0.25);}}
@keyframes movetreeL7 {to{left: 12%;transform: rotate(315deg) scale(0.3);}}
@keyframes movetreeL8 {to{left: 6%;transform: rotate(315deg) scale(0.4);}}
@keyframes movetreeL9 {to{left: 0%;transform: rotate(315deg) scale(0.5);}}
@keyframes movetreeL10 {to{left: -6%;transform: rotate(315deg) scale(0.6);}}
@keyframes movetreeL11 {to{left: -12%;transform: rotate(315deg) scale(0.8);}}
@keyframes movetreeL12 {to{left: -18%;transform: rotate(315deg) scale(1);}}
@keyframes movetreeL13 {to{left: -24%;transform: rotate(315deg) scale(1.2);}}


@media (max-width:1200px){
    .treeleft .t0a{left: 29%;transform: rotate(315deg) scale(0.025);}
    .treeleft .t0{left: 29%;transform: rotate(315deg) scale(0.025);animation: movetreeL0 var(--treespeed) linear infinite forwards;}
    .treeleft .t1{left: 28%;transform: rotate(315deg) scale(0.05);animation: movetreeL1 var(--treespeed) linear infinite forwards;}
    .treeleft .t2{left: 26%;transform: rotate(315deg) scale(0.075);animation: movetreeL2 var(--treespeed) linear infinite forwards;}
    .treeleft .t3{left: 24%;transform: rotate(315deg) scale(0.1);animation: movetreeL3 var(--treespeed) linear infinite forwards;}
    .treeleft .t4{left: 23%;transform: rotate(315deg) scale(0.125);animation: movetreeL4 var(--treespeed) linear infinite forwards;}
    .treeleft .t5{left: 21%;transform: rotate(315deg) scale(0.15);animation: movetreeL5 var(--treespeed) linear infinite forwards;}
    .treeleft .t6{left: 18%;transform: rotate(315deg) scale(0.2);animation: movetreeL6 var(--treespeed) linear infinite forwards;}
    .treeleft .t7{left: 15%;transform: rotate(315deg) scale(0.25);animation: movetreeL7 var(--treespeed) linear infinite forwards;}
    .treeleft .t8{left: 12%;transform: rotate(315deg) scale(0.3);animation: movetreeL8 var(--treespeed) linear infinite forwards;}     
    .treeleft .t9{left: 7%;transform: rotate(315deg) scale(0.4);animation: movetreeL9 var(--treespeed) linear infinite forwards;}
    .treeleft .t10{left: 2%;transform: rotate(315deg) scale(0.5);animation: movetreeL10 var(--treespeed) linear infinite forwards;}
    .treeleft .t11{left: -6%;transform: rotate(315deg) scale(0.6);animation: movetreeL11 var(--treespeed) linear infinite forwards;}
    .treeleft .t12{left: -14%;transform: rotate(315deg) scale(0.8);animation: movetreeL12 var(--treespeed) linear infinite forwards;}
    .treeleft .t13{left: -18%;transform: rotate(315deg) scale(1);animation: movetreeL13 var(--treespeed) linear infinite forwards;}

    @keyframes movetreeL0 {to{left: 28%;transform: rotate(315deg) scale(0.05);}}
    @keyframes movetreeL1 {to{left: 26%;transform: rotate(315deg) scale(0.075);}}
    @keyframes movetreeL2 {to{left: 24%;transform: rotate(315deg) scale(0.1);}}
    @keyframes movetreeL3 {to{left: 23%;transform: rotate(315deg) scale(0.125);}}
    @keyframes movetreeL4 {to{left: 21%;transform: rotate(315deg) scale(0.15);}}
    @keyframes movetreeL5 {to{left: 18%;transform: rotate(315deg) scale(0.2);}}
    @keyframes movetreeL6 {to{left: 15%;transform: rotate(315deg) scale(0.25);}}
    @keyframes movetreeL7 {to{left: 12%;transform: rotate(315deg) scale(0.3);}}
    @keyframes movetreeL8 {to{left: 7%;transform: rotate(315deg) scale(0.4);}}
    @keyframes movetreeL9 {to{left: 2%;transform: rotate(315deg) scale(0.5);}}
    @keyframes movetreeL10 {to{left: -6%;transform: rotate(315deg) scale(0.6);}}
    @keyframes movetreeL11 {to{left: -14%;transform: rotate(315deg) scale(0.8);}}
    @keyframes movetreeL12 {to{left: -18%;transform: rotate(315deg) scale(1);}}
    @keyframes movetreeL13 {to{left: -20%;transform: rotate(315deg) scale(1.2);}}
}

/*===== RIGHT TREE STRAIGHT VIEW =====*/
.treeright .t0a{right: 34%;transform: rotate(315deg) scale(0.025);}
.treeright .t0{right: 34%;transform: rotate(315deg) scale(0.025);animation: movetreeR0 var(--treespeed) linear infinite forwards;}
.treeright .t1{right: 32%;transform: rotate(315deg) scale(0.05);animation: movetreeR1 var(--treespeed) linear infinite forwards;}
.treeright .t2{right: 30%;transform: rotate(315deg) scale(0.075);animation: movetreeR2 var(--treespeed) linear infinite forwards;}
.treeright .t3{right: 28%;transform: rotate(315deg) scale(0.1);animation: movetreeR3 var(--treespeed) linear infinite forwards;}
.treeright .t4{right: 26%;transform: rotate(315deg) scale(0.125);animation: movetreeR4 var(--treespeed) linear infinite forwards;}
.treeright .t5{right: 24%;transform: rotate(315deg) scale(0.15);animation: movetreeR5 var(--treespeed) linear infinite forwards;}
.treeright .t6{right: 20%;transform: rotate(315deg) scale(0.2);animation: movetreeR6 var(--treespeed) linear infinite forwards;}
.treeright .t7{opacity: 1; right: 16%;transform: rotate(315deg) scale(0.25);animation: movetreeR7 var(--treespeed) linear infinite forwards;}
.treeright .t8{opacity: 1; right: 12%;transform: rotate(315deg) scale(0.3);animation: movetreeR8 var(--treespeed) linear infinite forwards;}     
.treeright .t9{opacity: 1; right: 6%;transform: rotate(315deg) scale(0.4);animation: movetreeR9 var(--treespeed) linear infinite forwards;}
.treeright .t10{opacity: 1; right: 0%;transform: rotate(315deg) scale(0.5);animation: movetreeR10 var(--treespeed) linear infinite forwards;}
.treeright .t11{opacity: 1; right: -6%;transform: rotate(315deg) scale(0.6);animation: movetreeR11 var(--treespeed) linear infinite forwards;}
.treeright .t12{opacity: 1; right: -12%;transform: rotate(315deg) scale(0.8);animation: movetreeR12 var(--treespeed) linear infinite forwards;}
.treeright .t13{opacity: 1; right: -18%;transform: rotate(315deg) scale(1);animation: movetreeR13 var(--treespeed) linear infinite forwards;}

@keyframes movetreeR0 {to{right: 32%;transform: rotate(315deg) scale(0.05);}}
@keyframes movetreeR1 {to{right: 30%;transform: rotate(315deg) scale(0.075);}}
@keyframes movetreeR2 {to{right: 28%;transform: rotate(315deg) scale(0.1);}}
@keyframes movetreeR3 {to{right: 26%;transform: rotate(315deg) scale(0.125);}}
@keyframes movetreeR4 {to{right: 24%;transform: rotate(315deg) scale(0.15);}}
@keyframes movetreeR5 {to{right: 20%;transform: rotate(315deg) scale(0.2);}}
@keyframes movetreeR6 {to{right: 16%;transform: rotate(315deg) scale(0.25);}}
@keyframes movetreeR7 {to{right: 12%;transform: rotate(315deg) scale(0.3);}}
@keyframes movetreeR8 {to{right: 6%;transform: rotate(315deg) scale(0.4);}}
@keyframes movetreeR9 {to{right: 0%;transform: rotate(315deg) scale(0.5);}}
@keyframes movetreeR10 {to{right: -6%;transform: rotate(315deg) scale(0.6);}}
@keyframes movetreeR11 {to{right: -12%;transform: rotate(315deg) scale(0.8);}}
@keyframes movetreeR12 {to{right: -18%;transform: rotate(315deg) scale(1);}}
@keyframes movetreeR13 {to{right: -24%;transform: rotate(315deg) scale(1.2);}}

@media (max-width:1200px){
    .treeright .t0a{right: 29%;transform: rotate(315deg) scale(0.025);}
    .treeright .t0{right: 29%;transform: rotate(315deg) scale(0.025);animation: movetreeR0 var(--treespeed) linear infinite forwards;}
    .treeright .t1{right: 28%;transform: rotate(315deg) scale(0.05);animation: movetreeR1 var(--treespeed) linear infinite forwards;}
    .treeright .t2{right: 26%;transform: rotate(315deg) scale(0.075);animation: movetreeR2 var(--treespeed) linear infinite forwards;}
    .treeright .t3{right: 24%;transform: rotate(315deg) scale(0.1);animation: movetreeR3 var(--treespeed) linear infinite forwards;}
    .treeright .t4{right: 23%;transform: rotate(315deg) scale(0.125);animation: movetreeR4 var(--treespeed) linear infinite forwards;}
    .treeright .t5{right: 21%;transform: rotate(315deg) scale(0.15);animation: movetreeR5 var(--treespeed) linear infinite forwards;}
    .treeright .t6{right: 18%;transform: rotate(315deg) scale(0.2);animation: movetreeR6 var(--treespeed) linear infinite forwards;}
    .treeright .t7{right: 15%;transform: rotate(315deg) scale(0.25);animation: movetreeR7 var(--treespeed) linear infinite forwards;}
    .treeright .t8{right: 12%;transform: rotate(315deg) scale(0.3);animation: movetreeR8 var(--treespeed) linear infinite forwards;}     
    .treeright .t9{right: 7%;transform: rotate(315deg) scale(0.4);animation: movetreeR9 var(--treespeed) linear infinite forwards;}
    .treeright .t10{right: 2%;transform: rotate(315deg) scale(0.5);animation: movetreeR10 var(--treespeed) linear infinite forwards;}
    .treeright .t11{right: -6%;transform: rotate(315deg) scale(0.6);animation: movetreeR11 var(--treespeed) linear infinite forwards;}
    .treeright .t12{right: -14%;transform: rotate(315deg) scale(0.8);animation: movetreeR12 var(--treespeed) linear infinite forwards;}
    .treeright .t13{right: -18%;transform: rotate(315deg) scale(1);animation: movetreeR13 var(--treespeed) linear infinite forwards;}

    @keyframes movetreeR0 {to{right: 28%;transform: rotate(315deg) scale(0.05);}}
    @keyframes movetreeR1 {to{right: 26%;transform: rotate(315deg) scale(0.075);}}
    @keyframes movetreeR2 {to{right: 24%;transform: rotate(315deg) scale(0.1);}}
    @keyframes movetreeR3 {to{right: 23%;transform: rotate(315deg) scale(0.125);}}
    @keyframes movetreeR4 {to{right: 21%;transform: rotate(315deg) scale(0.15);}}
    @keyframes movetreeR5 {to{right: 18%;transform: rotate(315deg) scale(0.2);}}
    @keyframes movetreeR6 {to{right: 15%;transform: rotate(315deg) scale(0.25);}}
    @keyframes movetreeR7 {to{right: 12%;transform: rotate(315deg) scale(0.3);}}
    @keyframes movetreeR8 {to{right: 7%;transform: rotate(315deg) scale(0.4);}}
    @keyframes movetreeR9 {to{right: 2%;transform: rotate(315deg) scale(0.5);}}
    @keyframes movetreeR10 {to{right: -6%;transform: rotate(315deg) scale(0.6);}}
    @keyframes movetreeR11 {to{right: -14%;transform: rotate(315deg) scale(0.8);}}
    @keyframes movetreeR12 {to{right: -18%;transform: rotate(315deg) scale(1);}}
    @keyframes movetreeR13 {to{right: -20%;transform: rotate(315deg) scale(1.2);}}
}

/* =====STRAIGHT VIEW END===== */