/* ===== APP LEFT =====*/

/* HEADER STYLES STARTS HERE */
.app .left header{
    position: relative;
    height: 10%; width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: var(--line);
}
/* HEADER STYLES ENDS HERE */

/* LEFT MINIMIZE BUTTON STYLES STARTS HERE */
.minimize_space{
    position: absolute;
    top: 13%; right: 5%;
    width: 20px; height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minimize_space .maxi_btn{
    display: none;
}
/* LEFT MINIMIZE BUTTON STYLES ENDS HERE */

/* NAVIGATION PANEL STYLES STARTS HERE */
.app .left nav{
    height: 40%; width: 100%;
    border-bottom: var(--line);
}
.app .left nav ul{
    height: 100%; width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.app .left nav ul .main_link{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    height: 10%;
    font-size: 16px;
}

.link_icon{
    position: absolute;
    top: 0%; left:0%;
    width: 25%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_text{
    position: absolute;
    top: 0%; right:0%;
    width: 70%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app .left nav ul li{
    position: relative;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.app .left nav ul li ul{
    position: absolute;
    top: 0%; right: -100%;
    width: 100%; height: auto;
    float: right;
    padding: 4%;
    background: var(--bg);
    border: var(--line);
    border-left: none;
    list-style: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: .5s ease-in-out;
    display: none;
}
.app .left nav ul li:hover ul{
    display: block;
    z-index: 5;
    animation: moveout .2s ease-in-out;
}
.app .left nav ul li:hover ul{
    display: block;
    z-index: 5;
}
.app .left nav ul li ul li{
    width: 100%; height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: 14px;
}
.app .left nav ul li ul li .link_text{
    width: 75%;
    list-style: none;
    font-size: 14px;
}
.tools_nav:hover .span_icon, 
.tools_nav:hover .span_text{
    color: var(--fcb);
    border-radius: 5px;
} 

.app .left header .link_icon{
    width: 25%; height: 100%;
    padding: 50% auto;
    font-size: 130%;
    font-weight: bolder;
}
.app .left header .link_text{
    width: 70%;
    font-size: 130%;
    font-weight: bolder;
}

/* .app .left nav ul 
.settings .day_mode_icon,
.app .left nav ul 
.settings .day_mode_text{
    display: none;
} */
.app .left nav ul 
.settings .dark_mode_icon,
.app .left nav ul 
.settings .dark_mode_text{
    display: none;
}
/* NAVIGATION PANEL STYLES ENDS HERE */

/* LOGGED IN USER PANEL STYLES STARTS HERE */
.app .left .user_info_link{
    height: 40%; width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    /* font-weight: bold; */
}
.app .left .user_info_link
.project_minimize{
    position: relative;
    height: 20%; width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    display: none;
}
.app .left .user_info_link .user_projects_info{
    height: 85%; width: 100%;
    display: flex;
    flex-direction: column;
}
.app .left .user_info_link 
.user_projects_info .user_projects_opener{
    position: relative;
    display: flex;
    flex-basis: 10%;
    align-items: center;
    justify-content: space-around;
}
.app .left .user_info_link 
.user_projects_info .user_projects_opener .show_projects,
.app .left .user_info_link 
.user_projects_info .user_projects_opener .add_project{
    flex-basis: 15%;
    display: flex;
    justify-self: center;
    align-items: center;
}
.app .left .user_info_link 
.user_projects_info .user_projects_opener 
.link_icon{
    display: none;
}
.app .left .user_info_link 
.user_projects_info .user_projects_opener .projecs_header{
    flex-basis: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
    font-size: 16px;
}
.app .left .user_info_link 
.user_projects_info .user_projects{
    flex-basis: 70%;
}
.app .left .user_info_link 
.user_projects_info .user_projects ul{ 
    height: 20%;
    width: 100%; margin-top: 5%; 
    overflow-y: scroll;
}
.app .left .user_info_link 
.user_projects_info .user_projects ul li{
    height: 20px; width: 90%;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: 12px;
    margin-top: 5%;
    padding-left: 5%;
    border-bottom: var(--line);
}
.app .left .user_info_link 
.user_projects_info .user_projects
form{
    height: 15%; width: 90%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}
.app .left .user_info_link 
.user_projects_info .user_projects
.new_project_name,
.app .left .user_info_link 
.user_projects_info .user_projects
.insert_new_project{
    height: 100px; width: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5%;
    font-size: 10px;
    cursor: pointer;
    outline: none; 
    font-size: 10px;
    font-weight: bold;
}
.app .left .user_info_link 
.user_projects_info .user_projects
.new_project_name,
.app .left .user_info_link 
.user_projects_info .user_projects
.new_project_name::placeholder{
    padding-left: 5%;
    font-size: 10px;
    font-weight: bold;
}
.app .left .user_info_link 
.user_projects_info .user_projects
.insert_new_project:hover{
    background: var(--tc);
}

.app .left .user_info_link .user_display{
    height: 15%; width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.app .left .user_info_link .user_display .avatar{
    height: 30px; width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app .left .user_info_link .user_display .avatar img{
    height: 100%; width: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}
.app .left .user_info_link .user_display .username{
    height: auto; width: 60%;padding-left: 5%;
}
.app .left .user_info_link .user_display .status{
    height: auto; width: 15%;
    text-align: center;
}
.app .left .user_info_link .user_display .status i{
    height: 100%; width: 100%;
}
.app .left .user_info_link .user_display .status .in{
    height: 100%; width: 100%;
    display: none;
}
/* .app .left .user_info_link .user_display .status .out{
    height: 100%; width: 100%;
} */

.app .left .user_info_link 
.user_directories_link{
    height: 10%; width: 90%;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 5%;
    cursor: pointer;
}
.app .left .user_info_link 
.user_directories_link p{
    margin-left: 5%;
}
/* LOGGED IN USER PANEL ENDS HERE */