

/* =====APP MIDDLE FRAMES STARTS HERE===== */
/* .app .middle .landing_page{opacity: 0; z-index: -3;} */
.app .middle .nft_art_generator{opacity: 0; z-index: -3;}
/* .app .middle .create_nft_collection{opacity: 0; z-index: -3;} */
/* .app .middle .user_layers{opacity: 0; z-index: -3;} */

/* =====APP MIDDLE FRAMES ENDS HERE===== */

/* =====APP RIGHT FRAMES STARTS HERE===== */
/* .app .right .free_frame{display: none;} */
.app .right .generator_preview{display: none;}
/* =====APP RIGHT FRAMES ENDS HERE===== */

/* =====APP STYLES ENDS HERE===== */