/* =====APP MIDDLE STYLES STARTS HERE===== */

/* NOTIFICATION STYLES STARTS HERE */
.app .middle .notification_screen{
    position: absolute;
    width: 100%; height: 100%;
    top: 0%; left: 0%;
    padding: 1%;
    border-top: var(--line);
    background: var(--ebg);
    font-size: var(--fsl);
    opacity: 0; z-index: -7;
}
.app .middle .notification_screen .notification_props{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px; width: 250px;
    margin: 30% auto;
    padding: 2%;
    background: var(--tc3);
    color: var(--tc2);
    /* border: var(--line); */
    box-shadow: var(--shadow);
    border-radius: 5px;
}
.app .middle .notification_screen .notification_props
.notification_header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}
.app .middle .notification_screen .notification_props
.notification_header div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--line);
}
.app .middle .notification_screen .notification_props
.notification_header div:nth-child(1){
    flex-basis: 100%;
    text-transform: uppercase;
}
.app .middle .notification_screen .notification_props
.notification_info{
    height: 85%;
    display: flex;
    flex-direction: column;
}
.app .middle .notification_screen .notification_props
.notification_msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-basis: 60%;
}
.app .middle .notification_screen .notification_props
.notification_msg p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}
.app .middle .notification_screen .notification_props
.notification_btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-basis: 40%;
}
.app .middle .notification_screen .notification_props
.notification_btns button{
    width: 30px; height: 25px;
}
/* NOTIFICATION STYLES ENDS HERE */

/* SEARCH BAR STYLES STARTS HERE */
.app .middle .searchbar{
    position: absolute;
    top: 2%; left: 2%;
    height: 5%; width: 96%;
    border-bottom: var(--line);
    opacity: 0; z-index: -5;
}
.app .middle .searchbar form{
    position: relative;
    height: 100%; width: 90%;
}
.app .middle .searchbar form .form_cancel{display: none;}
.app .middle .searchbar form input{
    height: 100%; width: 100%;
    padding-left: 5%;
    background: transparent;
    color: var(--tphc);
    border: none;
    outline: none;
}
.app .middle .searchbar form input:active,
.app .middle .searchbar form input:focus{
    border: none;
    outline: none;
    background: var(--ebg);
}
.app .middle .searchbar form input::placeholder{
    padding: 2%; color: var(--tphc);
}
.app .middle .searchbar form button{
    position: absolute;
    left: 100%; top: 0%;
    height: 100%; width: 10%;
    background: transparent;
    color: var(--tc1);
    border: none;
    cursor: pointer;
}
.search_small_screen_overlay{display: none;}
/* SEARCH BAR STYLES ENDS HERE */

/* LANDING PAGE STYLES STARTS HERE */
.app .middle .landing_page{
    position: absolute;
    top: 2%; left: 2%;
    height: 96%; width: 96%;
    padding: 10% auto;
    padding-top: 20%;
    font-size: 16px;
    letter-spacing: 5px;
    overflow: hidden;
    text-transform: uppercase;
    transition: .1 ease-in-out;
}
.app .middle .landing_page h3{
    text-align: center;
    font-size: 25px;
    line-height: 60px;
}
.app .middle .landing_page h4{
    text-align: center;
    font-size: 23px;
    line-height: 40px;
    margin: 10% 2%;
}
.app .middle .landing_page button{
    height:40px; width: auto;
    font-size: 16px;
    overflow: hidden;
    margin: 15% auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .1 ease-in-out;
}
/* LANDING PAGE STYLES ENDS HERE */

/* THEME SETTING AND CREDITS STARTS HERE */
.app .middle .theme_and_credits{
    position: absolute;
    top: 2%; left: 2%;
    height: 96%; width: 96%;
    padding-top: 20%;
    font-size: 16px;
    background: linear-gradient(
        to bottom, var(--tc3) 80%,
        var(--tc2));
    overflow: hidden;
    transition: .1 ease-in-out;
    opacity: 0; z-index: -3;
}
.app .middle .theme_and_credits
.component_opener{
    width: 90%;
    margin: 0% auto;
}
.app .middle .theme_and_credits h3{
    width: 100%; text-align: center;
    border-bottom: var(--line) ;
}
.app .middle .theme_and_credits h4{
    width: 80%; height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.app .middle .theme_and_credits
.tac_div{
    height: 20%; width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}
.app .middle .theme_and_credits 
.theme_mode{
    width: 80%; height: 20%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
} 
.app .middle .theme_and_credits
.theme_mode .clkb_btn{
    width: 50%; height: 40px;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}
.app .middle .theme_and_credits
.credits h4{
    border-bottom: var(--line);
    margin-bottom: 2%;
}
.app .middle .theme_and_credits
.credits ul{
    width: 80%; height: auto;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: flex-start;
}
.app .middle .theme_and_credits
.credits ul li{
    width: 100%; height: 30px;
    margin: 4% auto;
}
.app .middle .theme_and_credits
.credits ul li a{
    appearance: none;
    text-decoration: none;
}
/* THEME SETTING AND CREDITS STARTS HERE */

/* MEDIA QUERY STARTS HERE */
.app .show_right_in_media_query_btn{
    display: none;
}
@media screen and (max-width:900px){

    /* Search MQ Styles */
    .app .middle{left: 0%; width: 100%;}
    .app .middle .searchbar{
        opacity: 1 !important; z-index: 5 !important;
        height: 5% !important;
    }
    .app .middle .searchbar form{display: none;}
    .app .middle .searchbar form .form_cancel{
        display: flex; justify-content: center; 
        align-items: center;
        width: 10%; height: 100%;}
    .app .middle .searchbar form input{
        width: 90% !important;}
    .app .middle .searchbar 
    .search_small_screen_overlay{
        position: absolute;
        top: 0%;left: 0%;
        width: 100%; height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0% 2%;
        font-size: var(--fsxl);
        font-weight: bold;
        z-index: 5;
    }
    .app .middle .searchbar 
    .search_small_screen_overlay
    .search_opener{
        opacity: 0; z-index: -2;
    }

    /* Theme Setting and Credits */
    .app .middle .theme_and_credits{
        top: 7%; height: 91%;}

    /* Editor MQ Styles*/ 
    .app .middle .nft_generator{height: 95% !important;}

    /* NFT Generator Styles */
    .app .middle .user_layers{
        padding: 2%;
    }
    .app .middle .user_layers 
    #create_select_has_no_layers{
        flex-direction: column;
    }
    .app .middle .user_layers 
    #create_select_has_no_layers .start_import{
        margin-bottom: 2%
    }
    .app .middle .user_layers 
    #create_select_has_no_layers .create_layer{
        margin-top: 2%;
    }

    /* MQ Tool Starts here */
    .app .show_right_in_media_query_btn{
        position: absolute;
        right: 4%; bottom: 15%;
        height: 30px; width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: var(--line);
        border-radius: 100%;
        color: var(--fcb);
        opacity: 0; z-index: -8;
    }
}