/* ===== APP RIGHT =====*/
.app .right .component_opener{
    height: 5%;
}

/* FREE FRAME STYLES STARTS HERE */
.app .right .free_frame{
    position: relative;
    height: 100%; width: 100%;
    font-size: var(--fsl);
}
.app .right .free_frame img{
    height: 100%; width: 100%;
}
/* FREE FRAME STYLES STARTS HERE */

/* GENERATOR PREVIEW STYLES STARTS HERE */
.app .right .generator_preview{
    position: relative;
    height: 100%; width: 100%;
    overflow: hidden;
}
.app .right .generator_preview 
.component_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.app .right .generator_preview 
.generator_preview_frames{
    position: relative;
    flex-basis: 100% ;
    display: flex;
    align-items: center;
}
.app .right .generator_preview 
.generator_preview_frames li:nth-child(2){
    margin-left: 20%;
}
.app .right .generator_preview 
.generator_preview_frames li:nth-child(3){
    margin-left: 10%;
}
.app .right .generator_preview 
.layer_image_preview_frame,
.app .right .generator_preview 
.test_art_preview_frame{
    height: 95%; width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--line);
    border-top: none ;
    padding: 2%;
}
.app .right .generator_preview 
.layer_image_preview_frame #layer_image_canvas,
.app .right .generator_preview 
.test_art_preview_frame #test_art_canvas{
    height: 50%; width: 100%;
}

.app .right .generator_preview 
.layer_image_preview_frame 
.layer_image_info,
.app .right .generator_preview 
.test_art_preview_frame 
.test_art_downloader{
    height: 40px; width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%; padding: 2%;
    border: var(--line);
}
.app .right .generator_preview 
.layer_image_preview_frame 
.layer_image_info li:nth-child(1){
    text-transform: capitalize;
}
.app .right .generator_preview 
.test_art_preview_frame 
.test_art_downloader .test_art_download_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.app .right .collection_preview_frame{
    height: 95%; width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app .right .generator_preview
.collection_preview_frame
#collection_image_generator_canvas{
    height: 50%; width: 100%;
    display: none;
}
.app .right .generator_preview
.collection_preview_frame
.collection_frame_image_cover{
    height: 50%; width: 100%;
}
.app .right .generator_preview
.collection_preview_frame
.collection_frame_image_cover img{
    height: 100%; width: 100%;
}
.app .right .generator_preview
.collection_preview_frame 
#generated_arts{
    height: 50%; width: 100%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    border: var(--line);
    padding-top: 2%;
}
.app .right .generator_preview
.collection_preview_frame 
#generated_arts::-webkit-scrollbar-thumb{
    background: var(--tc1);
    border-radius: 5px;
}
.app .right .generator_preview
.collection_preview_frame 
#generated_arts li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.app .right .generator_preview
.collection_preview_frame 
#generated_arts li img{
    height: 70px; width: 70px;
}
.app .right .generator_preview
.collection_preview_frame
.collection_download_btn{
    position: absolute;
    top: 70%; right: 5%;
    height: 50px; width: 50px;
    border-radius: 100%;
}
/* Gen Previews Default Positions */
.app .right .gen_preview{
    position: absolute; top: 5%;
    transition: .5s ease-in-out;
    background: var(--ebg);
}
.app .right .generator_preview 
.layer_image_preview_frame{left: 0%;}
.app .right .generator_preview 
.test_art_preview_frame,
.app .right .generator_preview
.collection_preview_frame{
    left: 100%;
}
/* GENERATOR PREVIEW STYLES ENDS HERE */

/* MEDIA QUERY STARTS HERE */
@media screen and (max-width: 900px) {
    /* APP RIGHT MQ STARTS HERE */
    .app .right{left: 100%; width: 100%;}
    .app .right .generator_preview
    .collection_preview_frame
    .collection_download_btn{
        bottom: 15% !important;
    }
}




