

/* =====APP MIDDLE FRAMES STARTS HERE===== */
/* .app .middle .image_editor{display: none;} */
/* .app .middle .image_uploader{opacity: 0; z-index: -3;} */
.app .middle .create_multiple_edits{opacity: 0; z-index: -3;}
.app .middle .editor{opacity: 0; z-index: -3;}

.app .middle .nft_art_generator{display: none;}
/* .app .middle .create_nft_collection{opacity: 0; z-index: -3;} */
/* .app .middle .user_layers{opacity: 0; z-index: -3;} */

/* =====APP MIDDLE FRAMES ENDS HERE===== */

/* =====APP RIGHT FRAMES STARTS HERE===== */
/* .app .right .free_frame{display: none;} */
.app .right .generator_preview{display: none;}
.app .right .cropper_preview{display: none;}
.app .right .resizer_preview{display: none;}
.app .right .filter_preview{display: none;}
.app .right .download_frame{display: none;}
.app .right .extra_tools{display: none;}
/* =====APP RIGHT FRAMES ENDS HERE===== */

/* =====APP STYLES ENDS HERE===== */