
<!-- ===============THE MAINGAME START======================= -->
<div class="mainGame">
    <div class="btnLeft">O</div>
    <div class="gameAlert"></div>

    <div class="powerUpsLoader"><span>&#128165;</span></div>
    <div class="powerUps">
      <div class="timeFreezer powerUp booster">
        <div class="powerTime"></div>
        <span>&#128561;</span>
      </div>
      <div class="timeBooster powerUp booster">
        <div class="powerTime"></div>
        <span>&#128341;</span>
      </div>
      <div class="moveBooster powerUp booster">
        <div class="powerTime"></div>
        <span>&#127922;</span>
      </div>
      <div class="dectectiveMode powerUp">
        <div class="powerTime"></div>
        <span>&#128373;</span>
      </div>
      <div class="wizardMode powerUp">
        <div class="powerTime"></div>
        <span>&#129497;</span>
      </div>
    </div>
    <div class="exit">
      <span>Exit</span>
    </div>
    <div class="mainnGameAudio">
      <span>&#128266;</span>
    </div>
    <div class="agentToSelect">4</div>
    <div class="btnRight">Y</div>
    <!-- ===============THE SCREEN START=============== -->
    <div class="screen bottomContents">
      <!-- ===============THE SCREENHEADER START=============== -->
      <div class="screenHeader screenChild">
        <p class="codesHeader">AGENTS</p>
        <p class="resultsHeader">RESULTS</p>
      </div>
      <!-- ===============THE SCREENHEADER END=============== -->
  
      <!-- ===============THE PREDICTIONS START=============== -->
      <div class="predictions screenChild">
        <!-- ===============THE OPPONENTS PREDICTIONS START=============== -->
        <div class="opponetsPrediction display multiplePredictions">
          <ol></ol>
        </div>
        <!-- ===============THE OPPONENTS PREDICTIONS END=============== -->
  
        <!-- ===============THE CURRENT PREDICTION START=============== -->
        <div class="currentPrediction display">
          <div class="codeout"></div>
          <div class="arrow">
            <div class="arrowPack">
              <div class="arrowHolder">
                <div class="arrowHead arrowParts"></div>
                <div class="arrowBody arrowParts"></div>
              </div>
            </div>
          </div>
          <div class="result"></div>
        </div>
  
        <div class="activePrediction">
          <div class="codeout"></div>
        </div>
  
        <div class="hintPredicted display">
          <div class="codeout">
            <!-- <div class="codediv">?</div>
            <div class="codediv">x</div> -->
          </div>
          <div class="arrow">
            <div class="arrowPack">
              <div class="arrowHolder">
                <div class="arrowHead arrowParts"></div>
                <div class="arrowBody arrowParts"></div>
              </div>
            </div>
          </div>
          <div class="result"></div>
        </div>
        <!-- ===============THE CURRENT PREDICTIONS END=============== -->
  
        <!-- ===============THE YOUR PREDICTIONS START=============== -->
        <div class="yourPrediction display multiplePredictions">
          <ol></ol>
        </div>
        <!-- ===============THE YOUR PREDICTIONS END=============== -->
      </div>
      <!-- ===============THE PREDICTIONS END=============== -->
    </div>
    <!-- ===============THE SCREEN END=============== -->
  
    <!-- ===============THE CODED IMAGES START=============== -->
    <div class="codedImages bottomContents">
      <!-- ===============THE SOLDIERS START=============== -->
      <div class="agents">
        <!-- ===============BATCH 1 START=============== -->
        <div class="batch1 batch">
          <button class="numbtn" data-sound="../sounds/0.wav" type="button">
            <img id="_0_" src="assets/images/faces/pa_cyber_bully.png" />
          </button>
          <button class="numbtn" data-sound="../sounds/1.wav" type="button">
            <img id="_1_" src="assets/images/faces/pa_naval_fireman.png" />
          </button>
          <button class="numbtn" data-sound="../sounds/2.wav" type="button">
            <img id="_2_" src="assets/images/faces/pa_naval_chef.png" />
          </button>
        </div>
        <!-- ===============BATCH 1 END=============== -->
        <!-- ===============BATCH 2 START=============== -->
        <div class="batch2 batch">
          <button class="numbtn" data-sound="../sounds/3.wav" type="button">
            <img id="_3_" src="assets/images/faces/pa_xmas_gangster.png" />
          </button>
          <button class="numbtn" data-sound="../sounds/4.wav" type="button">
            <img id="_4_" src="assets/images/faces/pa_birthday_zombie.png" />
          </button>
          <button class="numbtn" data-sound="../sounds/5.wav" type="button">
            <img id="_5_" src="assets/images/faces/pa_devil_wakanda.png" />
          </button>
        </div>
        <!-- ===============BATCH 2 END=============== -->
        <!-- ===============BATCH 3 START=============== -->
        <div class="batch3 batch">
          <button class="numbtn" data-sound="../sounds/6.wav" type="button">
            <img id="_6_" src="assets/images/faces/pa_paid_tiger.png" />
          </button>
          <button class="numbtn" data-sound="../sounds/7.wav" type="button">
            <img id="_7_" src="assets/images/faces/pa_paid_wakanda.png" />
          </button>
          <button class="numbtn" data-sound="../sounds/8.wav" type="button">
            <img id="_8_" src="assets/images/faces/pa_savage_vikings.png" />
          </button>
        </div>
        <!-- ===============BATCH 3 END=============== -->
        <!-- ===============BATCH 4 START=============== -->
        <div class="batch4 batch">
          <button id="btnx1" class="numbtnReset" type="button">Reset</button>
          <button class="numbtn" data-sound="../sounds/9.wav" type="button">
            <img id="_9_" src="assets/images/faces/pa_red_indian.png" />
          </button>
          <button id="btnx2" class="numbtnSend" type="button">Check</button>
        </div>
        <!-- ===============BATCH 4 END=============== -->
      </div>
      <!-- ===============SOLDIERS END==================== -->
    </div>
    <!-- ===============THE CODED IMAGES END=============== -->
  </div>
  <!-- ===============THE MAINGAME END======================= -->